.card{
    /* display: flex; */
    color: black;
    /* border: 1px solid black; */
    border-radius: 8px;
    width: 80vw;
    height: 100vh;
    background-color: aliceblue;
    margin: 60px auto;
    

}

.cardCadastrar{
    width: 50%;
    margin: 10px;
    padding: 10px;
    margin: 2px;
          
}

.cardCadastrar div{
 margin: 5px;
}


/* .cardCrud Button{
    width: 100vw;
} */

.card form{
    /* display: flex;
    flex-direction: column;
    align-items: start;
    
    font-size: 1.5rem;
    padding: 10px;
    gap: 10px; */
    display: flex;
    
}

.card form input{
    
    margin-top: 6px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #B2B6B7;
    color: black;
    padding: 0 10px;
    width: 15Vw;
    
}

.buttonCadastrar{
    
   width: 10vw;
   
   align-items: center;
   display: flex;
   justify-content: space-around;
       
}

.buttonCadastrar Button{
    width: 10rem;
    
}

.cardPesquisar{
  display: flex;
  flex-direction: column;
 
    max-height: 100px;
  
  margin: 10px;
}

.cardPesquisar form{
    display: flex;
    flex-direction: row;
}

.cardPesquisar Button{
    height: 50px;
    margin: auto;
    text-align: center;
    justify-content: center;
    
}

#btnTrash {
    color: #fff;
    background-color: #fff;
    padding: 5px;
}

#btnTrash:hover{
    border: none;
}