.header {
   
    
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position: fixed;
    top: 0;
    left: 0; */
    height: 100px;
    width: 100vw;
    margin-top: 0;
    background-color: #FFFFFF;
    color: black;
   
}

