* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.appContainer {
  margin-top: 0;
  /* background-color: #F1F1F1;
  background: linear-gradient(to bottom, #EBEBEB, #B2B6B7); */
  width: 100vw;
  height: 100vh;
}